streamlit==1.37.0

altair==5.5.0
pandas==2.1.4
numpy==1.26.4

requests==2.32.3
python-dotenv==1.0.1

folium==0.17.0
streamlit-folium==0.22.1
streamlit-geolocation==0.0.10
streamlit-js-eval==1.0.0
streamlit-mic-recorder==0.0.8

beautifulsoup4==4.12.3
lxml==5.3.0

Pygments==2.18.0
rich==13.7.1
markdown-it-py==3.0.0
mdurl==0.1.2

scikit-learn==1.4.2

langchain==0.2.14
langgraph==0.2.6
openai==1.40.0
groq==0.9.0

uvicorn==0.30.6
starlette==0.37.2
