pip
setuptools
wheel

streamlit

altair
pandas
numpy

requests
python-dotenv

folium
streamlit-folium
streamlit-geolocation
streamlit-js-eval
streamlit-mic-recorder

beautifulsoup4
lxml

Pygments
rich
markdown-it-py
mdurl

scikit-learn
scipy

torch
tensorflow
opencv-python

langchain
langgraph
openai
groq

uvicorn
starlette
